@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

section{
    padding: 50px 0px;
}

.header{
    height: 10vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.header p{
    float: right;
    color: rgb(128, 128, 128);
    margin: 0;
}

.hero{
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100%;
    position: relative;
}

.z-100{
    z-index: 100;
}

.hero-text{
    color: #fff;
}

.hero-text h1{
    font-weight: bold;
    font-size: 56px;
}

.hero-text p{
    font-size: 20px;
}

.hero-text .btn{
    padding: 15px 30px;
}

.icon-container{
    background: rgba(231,231,231,1);
}

.icon img{
    width: 75px;
}

.icon h4{
    font-weight: bold;
    font-size: 18px;
}

.testimonials{
   background-color:  rgba(240,240,240,1);
}

.testimonials-heading{
    text-align: center;
}

.line{
    background: #000;
    display: block;
    width: 103px;
    height: 3px;
    margin: 0 auto;
}

.testimonials-heading p{
    color: rgb(128, 128, 128);
}

.testimonial{
    border: 1px solid #d7d7d7;
    padding: 40px 20px;
    text-align: center;
    color: rgb(128, 128, 128);
}

.testimonial p{
    font-style: italic;
}

.shop-suit{
    background: url('https://i.postimg.cc/fT3HdFMy/moda-suit-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: 100%;
}

.shop-suit h3{
    font-size: 48px;
    font-weight: bold;
}

.shop-suit .btn{
    padding: 15px 30px;
}

.footer{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
}

.footer p{
    font-size: 10px;
    color: rgb(128, 128, 128);
    justify-content: center;
    align-items: center;
    margin: 0;
}

@media screen and (max-width: 1025px) {
    .hero-text h1{
        font-size: 48px;
    }
    
    .hero-text p{
        font-size: 18px;
    }
    
    .hero-text .btn{
        padding: 10px 20px;
        font-size: 14px;
    }
    
    .icon-container{
        background: rgba(231,231,231,1);
    }
    
    .icon img{
        width: 65px;
    }
    
    .icon h4{
        font-weight: bold;
        font-size: 16px;
    }
    
    .testimonials-heading p{
        color: rgb(128, 128, 128);
        font-size: 14;
    }
    
    .testimonial{
        border: 1px solid #d7d7d7;
        padding: 40px 20px;
        text-align: center;
        color: rgb(128, 128, 128);
    }
    
    .shop-suit h3{
        font-size: 36px;
        font-weight: bold;
    }
    
    .shop-suit .btn{
        padding: 15px 20px;
        font-size: 14px;
    }
 }

 @media screen and (max-width: 750px) {
    .header{
        text-align: center;
    }

    .header .phone{
        display: none;
    }

    .hero-text h1{
        font-size: 36px;
    }
    
    .hero-text p{
        font-size: 13px;
    }
    
    .hero-text .btn{
        padding: 10px 20px;
        font-size: 12px;
    }
    
    
    .icon img{
        width: 50px;
    }
    
    .icon h4{
        font-size: 16px;
    }

    .icon p{
        font-size: 14px;
    }
    
    .testimonials-heading h3{
        font-size: 20px;
    }

    .testimonials-heading p{
        font-size: 14px;
    }

    .testimonial{
        padding: 20px;
    }


    .testimonial p{
        font-size: 14px;
    }

    .shop-suit{
        text-align: center;
    }
    
    .shop-suit h3{
        font-size: 24px;
        font-weight: bold;
    }
    
    .shop-suit .btn{
        padding: 10px 20px;
        font-size: 12px;
    }

    .footer {
        text-align: center;
        padding: 20px 0px;
        height: 100%;
    }
 }

 @media screen and (max-width: 399.99px) {
    .logo{
        width: 100px;
    }

    .header{
        text-align: center;
    }

    .header .phone{
        display: none;
    }

    .hero-text h1{
        font-size: 24px;
    }
    
    .hero-text p{
        font-size: 12px;
    }
    
    .hero-text .btn{
        padding: 7px 15px;
        font-size: 10px;
    }
    
    
    .icon img{
        width: 45px;
    }
    
    .icon h4{
        font-size: 14px;
    }

    .icon p{
        font-size: 12px;
    }
    
    .testimonials-heading h3{
        font-size: 18px;
    }

    .testimonials-heading p{
        font-size: 12px;
    }

    .testimonial{
        padding: 20px;
    }

    .testimonial p{
        font-size: 12px;
    }

    .testimonial h6{
        font-size: 13px;
    }

    .shop-suit{
        text-align: center;
    }
    
    .shop-suit h3{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    
    .shop-suit .btn{
        padding: 7px 15px;
        font-size: 10px;
    }

    .footer {
        text-align: center;
        padding: 20px 0px;
        height: 100%;
    }
 }